@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
:root {
    --main-color: #2F5233;
    --light-color: #B8AEA4;
    --text-color: #0000;
    --alt-color: #7B7167;
    --bg-color: #E9E6E1;
    --hover-color: #daa520;
    --nude: #9B6B43;
    --brown: #8E5431;
    --light-brown: #C98860;
}